#app {
  @media only screen and (min-width: 800px) {
    height: 100vh;
  }

  & > main, 
  & > aside {
    height: 100%;
  }
}

#map {
  height: 100%;

  @media only screen and (max-width: 800px) {
    height: 380px;
  }
}

#content {
  background-color: $scrub;
  height: 100%;

  @media only screen and (min-width: 800px) {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }
}