#app {
    height: 100vh;

    & > div,
    & > main {
      height: 100%;
    }
}

#map {
  min-height: 400px;
}

#interactionPane {
  background-color: $scrub;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  @media only screen and (max-width: 800px) {
    overflow-y: hidden;
  }
}