.header a {
  color: $white;

  &:active,
  &:hover,
  &:link,
  &:visited {
    color: $white;
  }
}
.header__functions {
  background: lighten($olive,10%);
}
.header__functions button {
  flex: 0 0 auto;
  padding: 8px 12px;
}
.header__functions .search {
  flex: 1 1 auto;
}
#parksList {
  list-style: none;
}