.card {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  margin: 8px;
  min-height: 100px;
  padding: 8px;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    background: var(--var-color-sand);
  }
  a {
    color: var(--var-color-green);
    text-decoration: none;
  }
}